article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

b,
strong {
  font-weight: bold; }

.italic {
  font-style: italic; }

html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -o-text-size-adjust: 100%;
  /* 2 */ }

body {
  background: white;
  color: black;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

html, body, button, input, table, td, th {
  font-family: Helvetica, Arial, Verdana, "latoregular", sans-serif; }

div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
  border: none;
  margin: 0;
  padding: 0; }

html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
  vertical-align: baseline; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 990px) {
  .column-1 {
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box; }

  .column-2 {
    float: left;
    width: calc(100%/2);
    padding: 15px;
    box-sizing: border-box; }

  .column-3 {
    float: left;
    width: calc(100%/3);
    padding: 15px;
    box-sizing: border-box; }

  .column-4 {
    float: left;
    width: calc(100%/4);
    padding: 15px;
    box-sizing: border-box; }

  .column-5 {
    float: left;
    width: calc(100%/5);
    padding: 15px;
    box-sizing: border-box; } }
@media screen and (min-width: 641px) and (max-width: 989px) {
  .column-1, .column-2, .column-3 {
    float: none;
    width: 100%;
    padding: 12.5px;
    box-sizing: border-box; }

  .column-4 {
    float: left;
    width: calc(100%/2);
    padding: 12.5px;
    box-sizing: border-box; }

  .column-5 {
    float: left;
    width: calc(100%/3);
    padding: 12.5px;
    box-sizing: border-box; } }
@media screen and (max-width: 640px) {
  .column-1, .column-2, .column-3, .column-4, .column-5 {
    float: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; } }
#global-header {
  width: 100%; }

.header-wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 8px;
  background-color: #143cb4;
  border-radius: 5px;
  color: #143cb4;
  box-sizing: border-box; }

.body-wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 8px 0;
  box-sizing: border-box; }

.video-list-wrapper {
  overflow: visible;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.video-list {
  max-width: calc(100% - 100px);
  margin: 0 auto;
  overflow: hidden; }

.video-list ul {
  width: 3500px;
  transition: 1s ease-out; }

.video-list li {
  list-style: none outside none;
  float: left;
  margin: 0 10px; }

.video-list-control polygon {
  fill: #bfc1c3; }

.video-list-control a.prev {
  position: absolute;
  left: 5px;
  top: 40%; }

.video-list-control a.next {
  position: absolute;
  right: 5px;
  top: 40%; }

.fill {
  background-color: #bfc1c3;
  height: 1200px;
  padding: 1em;
  box-sizing: border-box; }

.fill1 {
  background-color: black;
  height: 200px;
  box-sizing: border-box; }

.fill2 {
  background-color: white;
  height: 200px;
  box-sizing: border-box; }

.fill3 {
  background-color: #a1dff6;
  height: 200px;
  box-sizing: border-box; }

.fill4 {
  background-color: #fac864;
  height: 200px;
  box-sizing: border-box; }

.fill5 {
  background-color: #c86491;
  height: 200px;
  box-sizing: border-box; }

.fill1, .fill2, .fill3, .fill4, .fill5 {
  width: 353px; }
