article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

[hidden] {
    display: none;
}

html {
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

b,
strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
