article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

[hidden] {
    display: none;
}

html {
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

b,
strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

$white:  #fff;
$black: #000;
$grey: #bfc1c3;
$modern1: #143cb4;
$modern2: #5069d7;
$modern3: #a1dff6;
$majestic1: #3c0a6e;
$majestic2: #91284b;
$majestic3: #c86491;
$appealing1: #835d27;
$appealing2: #d7964b;
$appealing3:#fac864;

html {
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    -o-text-size-adjust: 100%; /* 2 */
}

body {
	background: $white;
	color: $black;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

html, body, button, input, table, td, th {
	font-family: Helvetica, Arial, Verdana, "latoregular", sans-serif;
}

div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, 
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, 
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
	border: none;
    margin: 0;
    padding: 0;
}

html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
	vertical-align: baseline;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}