/*********************
GRID 
*********************/
.grid {
	float: left;
	padding: 10px;
}

.grid-1 {
	width: 100%;
}

.grid-1-2 {
	width: calc(100%/2);
}

.grid-1-3 {
	width: calc(100%/3);
}

.grid-1-4 {
	width: calc(100%/4);
}

.grid-1-5 {
	width: calc(100%/5);
}

.grid-2-3 {
	width: calc((100%/3)*2);
}


/*********************
FORM 
*********************/

.main--nav-links {
  li {
      padding: 1.5rem 0.5rem;
  }
  a {
    display: inline-block;
    font-size: 1.11111rem;
  }
}


.header-wrapper .site-logo {
	display: block;
	margin: 0.5rem 1rem 0 0.5rem;
	img {
		width: 60px;
	}
}

.nav-icon {
	display: none;
}

.logo-wrapper, .main--nav-links, .social-media, .twitter-link, nav {
	display: inline-block;
}