/*********************
GRID 
*********************/
.grid-1, .grid-1-2, .grid-1-3, .grid-1-4, .grid-1-5, .grid-2-3 {
	float: none;
	width: 100%;
	padding: 10px;
}

/*********************
BUTTON 
*********************/
.btn {
	width: 100%;
}



/*********************
NAV 
*********************/
.nav-icon {
    display: block;
    width: 10%;
    margin-left: 0.3em;
}

.nav-icon:after {
    content: "";
    display: table;
    clear: both;
}
 
.nav-icon .nav-icon-line {
    width: 80%;
    padding: 8%;
    background: #000;
    margin: 3% 0;
    border-radius: 10px;
    float: left;
}

.header-wrapper {
    display: none;
}