/*********************
GRID 
*********************/
.grid-1, .grid-1-2, .grid-1-3, .grid-1-4, .grid-1-5, .grid-2-3, .grid-menu {
	float: none;
	width: 100%;
	padding: 10px;
}

/*********************
BUTTON 
*********************/
.btn {
	width: 100%;
}



/*********************
NAV 
*********************/

.header-wrapper .site-logo {
    display: block;
    text-align: center;
    margin: 0.5rem 0 0 0.5rem;
    img {
        width: 50px;
    }
}

.header-wrapper {
    overflow: auto;
    position: relative;
}

 
.nav-icon  {
    display: block;
    width: 10%;
    margin-left: 0.3em;
    position: absolute;
    right: 15px;
    top: 15px;
    .nav-icon-line {
        width: 2.2rem;
        padding: 0.2rem;
        background: $white;
        margin: 0.15rem 0;
        border-radius: 10px;
        float: left;
    }
}

.main--nav-links {
    display: none;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 1rem;

    li {
      padding: 0.2rem 0;
    }
}

#jalsa-info {
  width: 90%;
}

#jalsa-info:after {
  width: 100%;
}
