//base styles

@import "base";


@media screen and (min-width: 990px) {
	@import "desktop";
}

@media screen and (min-width: 641px) and (max-width: 989px) {
	@import "tablet";
}

@media screen and (max-width: 640px) {
	@import "mobile";
}



#global-header {
	width: 100%;
}

.header-wrapper {
	max-width: 90%;
	margin: 0 auto;
	padding: 8px;
	background-color: $modern1;
	border-radius: 5px;
	color: $modern1;
	box-sizing: border-box;
}

.body-wrapper {
	max-width: 90%;
	margin: 0 auto;
	padding: 8px 0;
	box-sizing: border-box;
}

.video-list-wrapper {
	overflow: visible;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.video-list {
	max-width: calc(100% - 100px);
	margin: 0 auto;
	overflow: hidden;
}
.video-list ul {
	width: 3000px;
}
.video-list li {
	list-style: none outside none;
	float: left;
	margin: 0 10px;
}

.video-list-control polygon {
	fill: $grey;
}

.video-list-control a.prev {
	position: absolute;
	left: 5px;
	top: 40%;
}

.video-list-control a.next {
	position: absolute;
	right: 5px;
	top: 40%;
}



//test
.fill {
	background-color: $grey;
	width: 100%;
	height: 1200px;
	padding: 1em;
	box-sizing: border-box;
}

.fill1 {
	background-color: $black;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
}

.fill2 {
	background-color: $white;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
}

.fill3 {
	background-color: $modern3;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
}

.fill4 {
	background-color: $appealing3;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
}

.fill5 {
	background-color: $majestic3;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
}